/* Contenedor de Tabs */
ion-tab-bar {
  --background: #000000;
  border-top: 3px solid #8b0808 !important;

  --color: #999999;           // color tabs NO seleccionados
  --color-selected: #8b0808;  // 🔴 color seleccionado
}